<!DOCTYPE html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script src="/static/js/index.js"></script>
<title>   CONSULTORIO ODONTOLÓGICO   </title>
<title>SAN GREGORIO</title>
<title>   CALIDAD DEL AIRE       </title>
</head>
<body>
<h1>      Monitoreo y Control de la calidad del aire</h1> 
<script src="/static/js/index2.js"></script>
<p style="color:#000000 ; " ><b>Autor: Andrés Faicán:<b></p>
<img src="/static/images/iot.png" alt="user">
<p><h4>Temperatura:<h3 id="temp">--<h4>Humedad:<h3 id="hum">--</p>
<h3>LECTURA DE GASES: <h3 id="ppm">--</h3>
<h3>Historial de Sensores:</h3>
<pre id="his"></pre>
<script>
/*
function LED1_On() {
	alert("led on");
	console.log("led on"); 
}
function LED1_Off(){
	alert("led off");
	console.log("led off");
}
*/

</script>
</body>
</html>
